    <!-- Section - Contact -->
    <section id="contact" class="section padding-v-60 min-fullheight">

        <!-- BG Map -->
        <div style="background-image:url("/softdev.jpg")"></div>

        <!-- Contact Box -->
        <div class="contact-box bg-secondary dark animated" data-animation="flipInY">
            <h1>I'm always here <strong>contact me</strong>!</h1>
            <!-- Contact List -->
            <ul class="list-unstyled list-unstyled-icons">
                <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>2033,<br />Sambhaji Chowk,<br />Islampur, 415409 INDIA(MH)</li>
                <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="#">pankajredekar1996@gmail.com</a></li>
                <li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>+91 808 777 2012</li>
            </ul>
            <a href="#" class="btn btn-primary" data-target="messenger"><span>Use Contact Form</span><i class="ti-email"></i></a>
            <h5 class="margin-t-60">Check my social media!</h5>
            <ul class="list-inline">
                <li><a href="https://www.facebook.com/pankajredekar1996" class="icon icon-xs"><i class="fa fa-facebook text-muted"></i></a></li>
            <li><a href="https://twitter.com/Redekar_Pankaj" class="icon icon-xs"><i class="fa fa-twitter text-muted"></i></a></li>
            <li><a href="https://plus.google.com/u/1/+PankajRedekarPR" class="icon icon-xs"><i class="fa fa-google-plus text-muted"></i></a></li>
        </ul>
            <h5>Like me on Facebook</h5>
            <!-- FB Like -->
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div><br><br>
            <div class="fb-follow" data-href="https://www.facebook.com/zuck" data-layout="standard" data-size="large" data-show-faces="true"></div>
            <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1861917187425481";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script></div>

    </section>
    <!-- Section - Contact / End -->
