<!-- Section - Portfolio -->
    <section id="portfolio" class="section bg-grey padding-v-60">

        <!-- Content -->
        <div class="container container-wide">

            <h6 class="margin-b-50">Portfolio</h6>

            <!-- Filters -->
            <nav class="text-center">
                <ul class="nav nav-filter nav-pills margin-b-40" data-filter-grid="#portfolio-list">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".Certificat">Certificats</a></li>
                    <li><a href="#" data-filter=".Project">Projects</a></li>
                    <li><a href="#" data-filter=".Photo">My Photos</a></li>
                </ul>
            </nav>
            
            <div id="portfolio-list" class="row masonry">
                <!-- Masonry Sizer -->
                <div class="masonry-sizer col-lg-3 col-sm-6 col-xs-12"></div>    

                <!-- Masonry Element -->
                <div class="Certificat masonry-item margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="#" data-target="ajax-modal"><img src="assets/img/projects/sql.jpg" alt="" /></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="#" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="#" class="title">Sql Fundamental Course</a>
                            <span class="caption text-muted">SOLOLEARN</span>
                        </div>
                    </div>
                </div>
                <!-- Masonry Element -->
                <div class="Project masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="#" data-target="ajax-modal"><img src="assets/img/projects/project-square02.jpg" alt="" /></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="#" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="#" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>
                <!-- Masonry Element -->
                <div class="Photo masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="#" data-target="ajax-modal"><img src="assets/img/projects/project-vertical01.jpg" alt="" /></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="#" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="#" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>
                <!-- Masonry Element -->
                <div class="Certificat masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="#" data-target="ajax-modal"><img src="assets/img/projects/isrd.jpg" alt="" /></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="#" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="#" class="title">INTERNATIONAL SOCIETY FOR RESEARCH AND DEVELOPMENT</a>
                            <span class="caption text-muted">Membership</span>
                        </div>
                    </div>
                </div>
                <!-- Masonry Element -->
                <div class="Project masonry-item margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="#" data-target="ajax-modal"><img src="assets/img/projects/project-horizontal01.jpg" alt="" /></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="#" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="#" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>
                <!-- Masonry Element -->
                <div class="Photo masonry-item margin-b-30 col-lg-3 col-sm-6 col-xs-12">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="#" data-target="ajax-modal"><img src="assets/img/projects/project-square03.jpg" alt="" /></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="#" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="#" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="#" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>
            </div>    

        </div>
        
    </section>
    <!-- Section - Portfolio / End -->