 <!-- Section - Resume -->
    <section id="resume" class="section padding-v-60">

        <!-- Content -->
        <div class="container container-wide">

            <h6 class="margin-b-50">Resume</h6>
            
            <div class="row padding-lg">
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / About -->
                    <div class="resume-box">
                        <span class="icon animated" data-animation="fadeInDown"><i class="ti-comment-alt text-tertiary"></i></span>
                        <h4><strong>About</strong> Me</h4>
                        <p class="lead">An effective leader, skilled in enlisting the support of all team members in aligning with project to achive goal.</p>
                        <p>Creative, resourceful and flexible, able to adapt to changing priorities and maintain a positive attitude and strong work ethics.</p>
						<p></p>
                    </div>
					<div class="resume-box">
						<span class="icon animated" data-animation="fadeInDown"><i class="ti-flag-alt-2 text-tertiary"></i></span>
						<h4><strong>Career</strong> Objective</h4>
						<p class="lead">To make a sound position on corporate world and work enthusiastically in a team to achive goal of the organiaation with devotion and hard work.<p>			
					</div>

                    <!-- Resume Box / Specilities -->
                    <div class="resume-box">
                        <span class="icon animated" data-animation="fadeInDown"><i class="ti-crown text-tertiary"></i></span>
                        <h4>My <strong>Specialities</strong></h4>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-calendar"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Management</h5>
                                <p class="speciaity-description">I love to organise events.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x  ti-package"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Software Development</h5>
                                <p class="speciaity-description">I can develop software.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-android"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">App development</h5>
                                <p class="speciaity-description">It' my passion to app development.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- Resume Box / Skills -->
                    <div class="resume-box">
                        <span class="icon animated" data-animation="fadeInDown"><i class="ti-medall-alt text-tertiary"></i></span>
                        <h4><strong>Skills</strong> &amp; abilities</h4>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>C</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>C++</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>Java</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>Python</strong>
                        </div>
						<div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>HTML</strong>
                        </div>
						<div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>JAVA Script</strong>
                        </div>
						<div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>css</strong>
                        </div>
                    </div>

                    

                    <!-- Resume Box / Education and Jobs -->
                    <div class="resume-box">
                        <span class="icon animated" data-animation="fadeInDown"><i class="fa fa-graduation-cap text-tertiary"></i></span>
                        <h4>My <strong>Education</strong></h4>
                        <div class="timeline">
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">July-2014  Pursuing</span>
                                <span class="event-name">BE (CSE)</span>
								<div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                                </div>
                                <span class="event-description">Tatyasaheb Kore Institute of Enggineering & Technology, Warananagar, INDIA(MH)</span>
								<span class="event-description">Shivaji University, Kolhapur INDIA(MH)</span>
                            </div>
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">Feb-2014</span>
                                <span class="event-name">Higher Sceondary School Certificate</span>
								<div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                                </div>
                                <span class="event-description">Islampur High-school & Jr. College of Science</span>
								<span class="event-description">HSC Kolhapur Board</span>
                            </div>
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">March-2012</span>
                                <span class="event-name">Sceondary School Certificate</span>
								<div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                                </div>
                                <span class="event-description">Islampur High-school, Islampur</span>
								<span class="event-description">HSC Kolhapur Board</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / Languages -->
                    <div class="resume-box">
                        <span class="icon animated" data-animation="fadeInDown"><i class="ti-cup text-tertiary"></i></span>
                        <h4><strong>Language</strong> skills</h4>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>English</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>Hindi</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    <span></span>
                                </div>
                            </div>
                            <strong>Marathi</strong>
                        </div>
                    </div>

                    <!-- Resume Box / Hobbies -->
                    <div class="resume-box">
                        <span class="icon animated" data-animation="fadeInDown"><i class="fa fa-heart text-tertiary"></i></span>
                        <h4><strong>Hobbies</strong> &amp; Interests</h4>
                            <ul class="list-inline">
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-music-alt"></i></span>
                                    <span class="title">Music</span>
                                </div> 
                            </li> 
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-game"></i></span>
                                    <span class="title">Video game</span>
                                </div> 
                            </li> 
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-map-alt"></i></span>
                                    <span class="title">Travel</span>
                                </div> 
                            </li> 
                        </ul>
						<ul class="list-inline">
						
							<li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-eye"></i></span>
                                    <span class="title">Watcing<br>Movies</span>
                                </div> 
                            </li>
							<li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-headphone"></i></span>
                                    <span class="title">Listening<br>Music</span>
                                </div> 
                            </li> 
							<li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-book"></i></span>
                                    <span class="title">Reading<br>&nbsp</span>
                                </div> 
                            </li>
						</ul>
                    </div>

                </div>
            </div>     

        </div>
        
    </section>
    <!-- Section - Resume / End -->
