<body class="header-vertical">

<!-- Loader -->
<div id="page-loader" class="bg-white"></div>
<!-- Loader / End -->

<!-- Header -->
<header id="header" class="bg-white hidden-sm hidden-xs">

    <!-- Photo -->
    <div class="photo">
        <img src="assets/img/photos/pr.jpg" alt="...">
    </div>

    <!-- Navigation -->
    <nav id="main-menu">
        <ul class="nav nav-vertical">
            <li><a href="#start"><span>Start</span></a></li>
            <li><a href="#resume"><span>Resume</span></a></li>
            <li><a href="#portfolio"><span>Portfolio</span></a></li>
            <li><a href="#testimonials"><span>Testimonials</span></a></li>
            <li><a href="#posts"><span>Latest Posts</span></a></li>
            <li><a href="#contact"><span>Contact</span></a></li>
        </ul>
    </nav>

    <!-- Social Media -->
    <div class="social-media">
        <strong class="text-sm">Follow me!</strong>
        <ul class="list-inline margin-t-10">
            <li><a href="https://www.facebook.com/pankajredekar1996" class="icon icon-xs"><i class="fa fa-facebook text-muted"></i></a></li>
            <li><a href="https://twitter.com/Redekar_Pankaj" class="icon icon-xs"><i class="fa fa-twitter text-muted"></i></a></li>
            <li><a href="https://plus.google.com/u/1/+PankajRedekarPR" class="icon icon-xs"><i class="fa fa-google-plus text-muted"></i></a></li>
        </ul>
    </div>

</header>
<!-- Header / End -->

<!-- Content -->
<div id="content" class="bg-white">

    <!-- Section - Home -->
    <section id="start" class="section fullheight bg-secondary dark padding-v-60">

        <!-- BG Image -->
        <div class="bg-image animated infinite zooming"><img src="assets/img/photos/it-bg01.jpg" alt="..."></div>
    <div align="left">  <span data-target="local-scroll"><a href="https://blog.pankajr.com" class="btn btn-lg btn-primary animated" data-animation="bounceIn"><span>Blog</span><i class="ti-angle-double-right"></i></a></span>
		
	    </div>
		
		
        <!-- Middle -->
        <div class="container container-wide v-bottom padding-v-80">
            <h1 class="text-lg margin-b-0">Hi! I’m <strong>Pankaj Redekar</strong></h1>
            <h5 class="text-tertiary margin-b-40"> Student Of Computer Science & Enggineering<br>Tatyasaheb Kore Institute of Engineering & Technology,<br>Warananagar</h5>
            <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary animated" data-animation="bounceIn"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
            <a href="https://drive.google.com/open?id=0BxMdhVRNnSOqRHFqdjl4Z1lNa0k" class="btn btn-link"><span>Download my CV</span><i class="ti-file"></i></a>
        </div>
    </section>
    <!-- Section - Home / End -->
