<!DOCTYPE html>
<html lang="en">

<head><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5839546897630615",
    enable_page_level_ads: true
  });
</script>
<!-- Meta -->
<meta name="keyword" content="Pankaj Redekar, pankajr.com" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<script type="text/javascript">
    var host = "pankajr.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>

<!-- Title -->
<title>Pankaj Redekar</title>

<!-- Favicons -->
<link rel="shortcut icon" href="assets/img/favicon_152x152.png">
<link rel="apple-touch-icon" href="assets/img/favicon_60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon_76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon_120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon_152x152.png">

<!-- Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100' rel='stylesheet' type='text/css'>

<!-- CSS Styles -->
<link rel="stylesheet" href="assets/css/styles.css" />

<!-- CSS Template -->
<link rel="stylesheet" href="assets/css/theme.min.css" />
<link rel="stylesheet" href="assets/css/color/blue-beige.css" id="color" />

<!-- Styleswitcher -->
<link rel="stylesheet" href="assets/styleswitcher/styleswitcher.css" />

</head>
     
    {{content}}
    
    </div>
<!-- Content / End -->
<!-- Ajax Wrapper & Loader -->
<div id="ajax-modal"></div>
<div id="ajax-loader"><i class="fa fa-spinner fa-spin"></i></div>

<!-- FB Like -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- JS Libraries -->
<script src="assets/js/jquery-1.11.3.min.js"></script>

<!-- JS Plugins -->
<script>
window.paceOptions = {
    target: '#page-loader',
    ajax: false
};
</script>
<script src="assets/js/plugins.js"></script>

<!-- JS Core -->
<script src="assets/js/core.min.js"></script>

<!-- Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

<!-- Styleswitcher -->
<script src="assets/styleswitcher/styleswitcher.js"></script>

</body>

</html>
